nicegui
gspread
oauth2client
pandas
plotly
pycountry
folium
duckdb
python-dotenv
google-cloud-bigquery
google-auth
google-auth-oauthlib
requests
fastapi
uvicorn
pymongo[srv]
python-dotenv
bcrypt
google-api-python-client
